*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #202020;
    font-family: 'Dosis', sans-serif;
}

nav{
    background-image: linear-gradient(to top, #440A76,  #FFAD32);
    height: 100px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: orange;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.hamburger {
    display: none;
    margin-top: 30px;
    margin-right: 20px;
    float: right;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

h1{
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 40px;
}

h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    color: white;
    font-size: 20px;
}

form{
    width: 300px;
    margin-top: 50px;
    padding-top: 20px;
    box-shadow: #363636;
    padding-right: 65px;
    border: none;
    padding: 50px;
    box-shadow: 1px 1px 5px 5px #555555;
    border-radius: 25px;
    margin: auto;
    background-color: #363636;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

form input{
    background-color: #a3a2a2;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    width: 300px;
    height: 50px;
    border: none;
    background-color: #BE9CF7;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bold;
    margin-top: 40px;

}

button:hover {
    opacity: 0.8;
    transition: 0.5s;
    background: #927abc;
  }

.error {
    font-size: 14.5px;
    margin-top: 5px;
    color: red;
  }

#testing {
    text-align: left;
    padding-top: 40px;
    font-size: 15px;
    color: white;
}

#testingTwo {
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    color: white;
}

#signUp {
    color: #BE9CF7;
}

label {
    display: block;
    margin-bottom: 5px;
}

form div i {
    position: absolute;
    padding: 10px;
}