*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #202020;
    font-family: 'Dosis', sans-serif;
}

nav{
    background-image: linear-gradient(to top, #440A76,  #FFAD32);
    height: 100px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: orange;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*.signin-box{
    width: 250px;
    height: 620;
    margin: auto;
    background-color: #363636;
    border-radius: 3px;
}*/

h1{
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 40px;
}

h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    color: white;
    font-size: 20px;
}

form{
    width: 300px;
    margin-left: 20px;
    margin-top: 50px;
    padding-top: 20px;
    box-shadow: #363636;
    padding-right: 65px;
    border: none;
    padding: 50px;
    box-shadow: 1px 1px 5px 5px #555555;
    border-radius: 25px;
    margin: auto;
    background-color: #363636;

}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

form input{
    background-color: #a3a2a2;
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input[type="button"]{
    width: 310px;
    height: 50px;
    border: none;
    background-color: #BE9CF7;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 50px;
}

/*#testing {
    text-align: left;
    padding-top: 20px;
    font-size: 15px;
    color: white;
}

#testingTwo {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    padding-bottom: 20px;
    color: white;
/* } */
